<?xml version="1.0" encoding="utf-8" ?>
<nlog  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogFile="${basedir}/logs/internalLog.log" internalLogLevel="Warn"
    >
	<targets async="true">
		<target xsi:type="File" name="File" fileName="${basedir}/logs/${logger}.${shortdate}.log"
                                        archiveFileName="${basedir}/logs/archives/${logger}.${shortdate}.{#}.log"
                                        archiveAboveSize="5242880"
                                        archiveEvery="Day"
                                        archiveNumbering="Rolling"
                                        maxArchiveFiles="90">
			<layout xsi:type="CsvLayout">
				<column name="date" layout="${longdate}" />
				<column name="level" layout="${level}" />
				<column name="message" layout="${message}" />
				<column name="exception" layout="${exception:format=tostring:maxInnerExceptionLevel=3}" />
			</layout>
		</target>		
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="File" />
	</rules>
</nlog>